SecretKey=SuperSecretKeyForDemoPurposesOnly-AtLeast32Bytes!
RustFsSecretKey=agent909
RustFsAccessKey=agent
FileServiceSecret=AnotherSecretForTheFileService-AtLeast32Bytes!
Cors=http://172.16.21.20
RabbitMqUser=hr_app
RabbitMqPassword=hr_app
FrontReplicaCount=1
ApiReplicaCount=1
EmailsWorkerReplicaCount=1
